LocalDevelopment~calculadora_con_bpm~demo.sap.com/src/wsdl/BPM_CalWEB_OutB.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:empresasadoc.com:test" xmlns:p2="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BPM_CalWEB_OutB" targetNamespace="urn:empresasadoc.com:test">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>dcbf5b06b23f11e9a2030000001b79ca</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="tegroup"/>
      <changed by="tegroup" on="1564432296717"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="0ed327d666093689865d415576872cca"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="Add">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="p2.AddSoapIn">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">Calculadora_Web</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:empresasadoc.com:test</ifw:elem>
          <ifw:elem id="SUBNAME">AddSoapIn</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://tempuri.org/</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:empresasadoc.com:test</ifw:technicalNamespace>
        <ifw:VersionID>ecabb977b23e11e989ec0000001b79ca</ifw:VersionID>
      </ifw:message>
      <ifw:message name="p2.AddSoapOut">
        <ifw:messType>ifmextmes</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">Calculadora_Web</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:empresasadoc.com:test</ifw:elem>
          <ifw:elem id="SUBNAME">AddSoapOut</ifw:elem>
          <ifw:elem id="SUBNAMESPACE">http://tempuri.org/</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:empresasadoc.com:test</ifw:technicalNamespace>
        <ifw:VersionID>ecabb977b23e11e989ec0000001b79ca</ifw:VersionID>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>a9a323f082ea11e9cb45d958c0a8107a</ifw:guid>
        <ifw:name>ADOC_TEST 1 of empresasadoc.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:folder>
        <ifw:guid>4b####o#####k##</ifw:guid>
      </ifw:folder>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_0ed327d666093689865d415576872cca_ifmmessif</name>
        <namespace>urn:empresasadoc.com:test</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_Add"/>
  <wsdl:types>
    <xsd:schema xmlns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/">
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="AddResult" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="intA" type="xsd:int"/>
            <xsd:element form="qualified" name="intB" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.AddSoapIn">
    <wsdl:documentation/>
    <wsdl:part element="p2:Add" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="p2.AddSoapOut">
    <wsdl:documentation/>
    <wsdl:part element="p2:AddResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BPM_CalWEB_OutB">
    <wsdl:documentation/>
    <wsdl:operation name="Add">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Add"/>
      </wsp:Policy>
      <wsdl:input message="p1:p2.AddSoapIn"/>
      <wsdl:output message="p1:p2.AddSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPM_CalWEB_OutBBinding" type="p1:BPM_CalWEB_OutB">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Add">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
