LocalDevelopment~calculadora_con_bpm~demo.sap.com/src/wsdl/BPM_Calc_OutB.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:empresasadoc.com:test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BPM_Calc_OutB" targetNamespace="urn:empresasadoc.com:test">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>6adabbe9944211e9cc690000001b79ca</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="tegroup"/>
      <changed by="tegroup" on="1561134945540"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="4b9db9e8ea3d3487acb2aaafd2df713b"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="BPM_Calc_OutB">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="Calculadora_Respuesta_Req">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">Calculadora_Respuesta_Req</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:empresasadoc.com:test</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:empresasadoc.com:test</ifw:technicalNamespace>
        <ifw:VersionID>40a1dc97944211e993990000001b79ca</ifw:VersionID>
        <ifw:xmlNamespace>urn:empresasadoc.com:test</ifw:xmlNamespace>
        <ifw:dataType name="Calculadora_Respuesta" namespace="urn:empresasadoc.com:test" swcvId="a9a323f082ea11e9cb45d958c0a8107a" uri="name=Calculadora_Respuesta~namespace=urn:empresasadoc.com:test~swcvId=a9a323f082ea11e9cb45d958c0a8107a"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>a9a323f082ea11e9cb45d958c0a8107a</ifw:guid>
        <ifw:name>ADOC_TEST 1 of empresasadoc.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:folder>
        <ifw:guid>4b####o#####k##</ifw:guid>
      </ifw:folder>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_4b9db9e8ea3d3487acb2aaafd2df713b_ifmmessif</name>
        <namespace>urn:empresasadoc.com:test</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_BPM_Calc_OutB"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:empresasadoc.com:test" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:empresasadoc.com:test">
      <xsd:element name="Calculadora_Respuesta_Req" type="Calculadora_Respuesta"/>
      <xsd:complexType name="Calculadora_Respuesta">
        <xsd:sequence>
          <xsd:element name="Record">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Respuesta">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Resultado" type="xsd:integer"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Calculadora_Respuesta_Req">
    <wsdl:documentation/>
    <wsdl:part element="p1:Calculadora_Respuesta_Req" name="Calculadora_Respuesta_Req"/>
  </wsdl:message>
  <wsdl:portType name="BPM_Calc_OutB">
    <wsdl:documentation/>
    <wsdl:operation name="BPM_Calc_OutB">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_BPM_Calc_OutB"/>
      </wsp:Policy>
      <wsdl:input message="p1:Calculadora_Respuesta_Req"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPM_Calc_OutBBinding" type="p1:BPM_Calc_OutB">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BPM_Calc_OutB">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
