demo.sap.com/data_maestra_articulo_crear/_comp/src/wsdl/PlaceholderProduct_Inb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="urn:empresasadoc.com:data_maestra:php:bpm" xmlns:p2="urn:empresasadoc.com:data_maestra:php:estructuras" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PlaceholderProduct_Inb" targetNamespace="urn:empresasadoc.com:data_maestra:php:bpm">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>69311298ba1111e99fe20000001b79ca</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="tegroup"/>
      <changed by="tegroup" on="1565292079467"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:xms:application:xip"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="128f8cf4185c377fa56c477c4c9293f6"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="PlaceholderProduct_Inb">
        <ifw:isSynchron>false</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>true</ifw:isInbound>
        <ifw:interfaceCategory>inbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_async"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="p2.APR_Producto_Req">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">APR_Producto_Req</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:empresasadoc.com:data_maestra:php:estructuras</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:empresasadoc.com:data_maestra:php:estructuras</ifw:technicalNamespace>
        <ifw:VersionID>9cb06904b9fa11e988e50000001b79ca</ifw:VersionID>
        <ifw:xmlNamespace>urn:empresasadoc.com:data_maestra:php:estructuras</ifw:xmlNamespace>
        <ifw:dataType name="APR_Producto" namespace="urn:empresasadoc.com:data_maestra:php:estructuras" swcvId="eaa1a710b85e11e9b135d958c0a8107a" uri="name=APR_Producto~namespace=urn:empresasadoc.com:data_maestra:php:estructuras~swcvId=eaa1a710b85e11e9b135d958c0a8107a"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>eaa1a710b85e11e9b135d958c0a8107a</ifw:guid>
        <ifw:name>ADOC_I_DATA_MAESTRA_RECEIVER 1.0 of empresasadoc.com</ifw:name>
      </ifw:swcvinfo>
      <ifw:folder>
        <ifw:guid>1c9###o#####k##</ifw:guid>
      </ifw:folder>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_128f8cf4185c377fa56c477c4c9293f6_ifmmessif</name>
        <namespace>urn:empresasadoc.com:data_maestra:php:bpm</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_PlaceholderProduct_Inb"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:empresasadoc.com:data_maestra:php:estructuras" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:empresasadoc.com:data_maestra:php:estructuras">
      <xsd:element name="APR_Producto_Req" type="APR_Producto"/>
      <xsd:complexType name="APR_Producto">
        <xsd:sequence>
          <xsd:element name="row">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="MARA_MTART" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>MODE (L7) o ZMOD (L1)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ATTYP" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>CATEGORIA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_MATKL" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>GRUPO ARTICULO</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_CHAR_VALUE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>TALLAS INTRODUCIR SI ES ROPA O ACCESORIO</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_NODE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>NODO</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_MAKTX" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>DESCRIPCION</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_GROES" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>ESTILO</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_FREE_CHAR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>COLOR</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_BRAND_ID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>MARCA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_WHERL" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>PAIS DE FABRICACION</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_WSTAW" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>PARTIDA ARANCELARIA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_SEASON" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>TEMPORADA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_SEASON_YR" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>AÑO</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_PUERTO_ORIG" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>PUERTO SALIDA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_ESTATUS" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>ESTATUS</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_ART_PROV" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>GENERO</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_TIP_ESTILO" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>CLASIFICACION NUEVA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_COD_PICT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>CODIGO DEL PICTOGRAMA (L1 - L7)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_DELTAM" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>DELTAM (L1 - L7)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_ALTAM" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>ALTAM (L1 - L7)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_TAM_MED" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>TAMAÑO MEDIO "flag" (L1 - L7)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_ALU" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>ALU (BISMT) (L1 - L7)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_ZZ_CLASE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>CLASE</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_EAN11" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>UPC (L1 - L7 - CAT - TNF)</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_LIFNR" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>PROVEEDOR</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_IDNLF">
                  <xsd:annotation>
                    <xsd:documentation>DESCRIPCION ARTICULO PROVEEDOR</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MARA_IDNLF_2">
                  <xsd:annotation>
                    <xsd:documentation>DESCRIPCION ARTICULO PROVEEDOR 2</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="50"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="EINE_NETPR">
                  <xsd:annotation>
                    <xsd:documentation>PRECIO NETO  (FOB)</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                      <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VERPR" type="xsd:integer">
                  <xsd:annotation>
                    <xsd:documentation>PRECIO VENTA</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="p2.APR_Producto_Req">
    <wsdl:documentation/>
    <wsdl:part element="p2:APR_Producto_Req" name="APR_Producto_Req"/>
  </wsdl:message>
  <wsdl:portType name="PlaceholderProduct_Inb">
    <wsdl:documentation/>
    <wsdl:operation name="PlaceholderProduct_Inb">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_PlaceholderProduct_Inb"/>
      </wsp:Policy>
      <wsdl:input message="p1:p2.APR_Producto_Req"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlaceholderProduct_InbBinding" type="p1:PlaceholderProduct_Inb">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PlaceholderProduct_Inb">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
